#u12958
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12958:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12958:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12957
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12957:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12957:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12958.PamphletThumbSelected,#u12957.PamphletThumbSelected
{
	border-color: #464646;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../images/a1-small-file.jpg") no-repeat left top;
}

#u12956
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12956:hover
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12956:active
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u12956.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../images/a1-small-file.jpg") no-repeat left top;
}

#u12951
{
	position: absolute;
}

#u12953
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../images/a1-small-file.jpg") no-repeat center center;
}

#u11711-3
{
	border-color: #000000;
	background-color: #545454;
	background-color: rgba(0, 0, 0, 0.67);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.67);
}

#u11728
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u11728:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u11731-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11728:hover #u11731-4 p
{
	font-weight: bold;
}

#u11723
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u11723:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u11725-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11728.MuseMenuActive #u11731-4 p,#u11723:hover #u11725-4 p
{
	font-weight: bold;
}

#u11752
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u11752:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u11754-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11723.MuseMenuActive #u11725-4 p,#u11752:hover #u11754-4 p
{
	font-weight: bold;
}

#u11716
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u11716:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u11718-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11752.MuseMenuActive #u11754-4 p,#u11716:hover #u11718-4 p
{
	font-weight: bold;
}

#u12954
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../images/a1-small-file.jpg") no-repeat left center;
}

#u12952
{
	border-color: #000000;
	position: relative;
	background: #6B6B6B url("../images/a1-small-file.jpg") no-repeat center center;
	background-size: cover !important;
}

#u16864-3
{
	border-color: #000000;
	background-color: #545454;
	background-color: rgba(0, 0, 0, 0.67);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.67);
}

#u16905
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u16905:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u16906-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11716.MuseMenuActive #u11718-4 p,#u16905:hover #u16906-4 p
{
	font-weight: bold;
}

#u16896
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u16896:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u16898-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u16905.MuseMenuActive #u16906-4 p,#u16896:hover #u16898-4 p
{
	font-weight: bold;
}

#u16869
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u16869:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u16872-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u16896.MuseMenuActive #u16898-4 p,#u16869:hover #u16872-4 p
{
	font-weight: bold;
}

#u16891
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u16891:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u11728.MuseMenuActive,#u11723.MuseMenuActive,#u11752.MuseMenuActive,#u11716.MuseMenuActive,#u16905.MuseMenuActive,#u16896.MuseMenuActive,#u16869.MuseMenuActive,#u16891.MuseMenuActive
{
	background-image: none;
}

#u16892-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u16869.MuseMenuActive #u16872-4 p,#u16891:hover #u16892-4 p
{
	font-weight: bold;
}

#u16891.MuseMenuActive #u16892-4 p
{
	font-weight: bold;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u11469
{
	border-style: solid;
	border-color: #DE6530;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 7px 7px 0px ;
	-webkit-border-radius: 0px 7px 7px 0px ;
	-khtml-border-radius: 0px 7px 7px 0px ;
	border-radius: 0px 7px 7px 0px ;
	position: fixed;
	border-width: 3px 3px 3px 0px;
}

#u11474
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
}

#u11474:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #DE6530;
}

#u11476
{
	background-color: transparent;
	position: fixed;
}

#u11470
{
	background-color: transparent;
	position: fixed;
}

#u11472
{
	background-color: transparent;
	position: fixed;
}

#u11476:hover,#u11470:hover,#u11472:hover
{
	border-color: #DE6530;
}

#u14359
{
	-pie-box-shadow: none;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: relative;
}

#u14386
{
	background-color: #464646;
	position: relative;
}

#u14388-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14386:hover #u14388-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u14365
{
	background-color: #464646;
	position: relative;
}

#u14366-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14365:hover #u14366-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u14372
{
	background-color: #464646;
	position: relative;
}

#u14375-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14372:hover #u14375-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u14395
{
	background-color: #464646;
	position: relative;
}

#u14398-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14386.MuseMenuActive #u14388-4,#u14365.MuseMenuActive #u14366-4,#u14372.MuseMenuActive #u14375-4,#u14395.MuseMenuActive #u14398-4
{
	border-style: none;
	border-color: transparent;
}

#u14395:hover #u14398-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u14386.MuseMenuActive #u14388-4 p,#u14365.MuseMenuActive #u14366-4 p,#u14372.MuseMenuActive #u14375-4 p,#u14395.MuseMenuActive #u14398-4 p
{
	color: #F7931E;
	visibility: inherit;
	text-decoration: underline;
}

#u14422
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -moz-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -ms-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00999999, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00999999', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u14416,#u14419
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/wood.jpg") no-repeat left top;
}

#u14414-4
{
	letter-spacing: 2px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u14637-5
{
	color: #DE6530;
	letter-spacing: 2px;
	text-align: right;
	font-size: 13px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u14360
{
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	position: relative;
}

#u14411-4
{
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	position: relative;
}

#u14417_clip,#u14361_clip
{
	overflow: hidden;
}

#u14459-4
{
	color: #FFFFFF;
	position: relative;
}

#pamphletu12939,#u12955,#menuu11712,#u11727,#u11720,#u11749,#u11713,#menuu16865,#u16902,#u16895,#u16866,#u16888,#u15537-3,#menuu14363,#u14385,#u14364,#u14371,#u14392,#u14417,#u14420,#u14360_align_to_page,#u14399,#u14401,#u14403,#u14405,#u14407,#u14409,#u14361,#u15534-17,#u15536-18
{
	position: relative;
}

