@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1492.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 6px;
}

#pu7652
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#u7652
{
	z-index: 4;
	width: 380px;
	padding-bottom: 16px;
	margin-right: -10000px;
	left: 1px;
}

#u4959
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 316px;
}

#u4954
{
	z-index: 6;
	width: 39px;
	height: 5px;
}

#u4956
{
	z-index: 7;
	width: 39px;
	height: 5px;
	margin-top: 8px;
}

#u4958
{
	z-index: 8;
	width: 39px;
	height: 5px;
	margin-top: 9px;
}

#u5239
{
	z-index: 29;
	width: 380px;
	height: 8px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 1px;
}

#accordionu4960
{
	z-index: 30;
	width: 381px;
	margin-right: -10000px;
}

#u4976
{
	z-index: 31;
	width: 381px;
}

#u4977-3
{
	z-index: 32;
	width: 371px;
	min-height: 44px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4978
{
	z-index: 35;
	width: 381px;
}

#menuu5061
{
	z-index: 36;
	width: 380px;
	margin-right: -10000px;
}

@viewport,#u5076
{
	width: 380px;
}

#u5079
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u5082-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 12px;
}

#u5098
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u5101-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 13px;
}

#u5091
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u5092-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 13px;
}

#u5097,#u5090,#u5083
{
	width: 380px;
	margin-top: 2px;
}

#u5086
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u5079.MuseMenuActive,#u5098.MuseMenuActive,#u5091.MuseMenuActive,#u5086.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u5088-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 13px;
}

#u5079.MuseMenuActive #u5082-4,#u5098.MuseMenuActive #u5101-4,#u5091.MuseMenuActive #u5092-4,#u5086.MuseMenuActive #u5088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u9356
{
	z-index: 68;
	width: 88px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 32px;
}

#u9359
{
	z-index: 69;
	width: 86px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u9357
{
	z-index: 70;
	width: 104px;
	margin-right: -10000px;
	margin-top: 10px;
	left: -10px;
}

#u18955-4
{
	z-index: 87;
	width: 312px;
	min-height: 21px;
	color: #39393A;
	line-height: 1.23;
	text-align: center;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 33px;
	margin-top: 24px;
	position: relative;
}

#u18957
{
	z-index: 96;
	width: 315px;
	height: 2px;
	border-color: #000000;
	background-color: #7C7C7C;
	margin-left: 30px;
	margin-top: 13px;
	position: relative;
}

#u18956-5
{
	z-index: 91;
	width: 315px;
	min-height: 46px;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 10px;
	position: relative;
}

#u18956-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 10px 0px 0px 30px;
}

#u18956-5:hover p,#u18956-5:hover a
{
	color: #5B5B5B;
	visibility: inherit;
}

#u18958
{
	z-index: 97;
	width: 315px;
	height: 2px;
	border-color: #000000;
	background-color: #7C7C7C;
	margin-left: 30px;
	margin-top: 9px;
	position: relative;
}

#widgetu18959
{
	z-index: 98;
	width: 0.01px;
	height: 502px;
	margin-left: 30px;
	margin-top: 26px;
	position: relative;
}

#widgetu18978
{
	z-index: 99;
	width: 312px;
	height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu18978.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	margin: 0px -10000px 0px 0px;
}

#u18979-4
{
	z-index: 100;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u18980-4
{
	z-index: 104;
	width: 300px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: -1px;
}

#widgetu18978.non-empty-st #u18980-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
}

#widgetu18978:hover #u18980-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 28px -10000px -1px 0px;
}

#widgetu18978.focus-st #u18980-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 28px -10000px -1px 0px;
}

#widgetu18978.non-empty-st #u18980-4 *
{
	color: #4F4F4F;
}

#widgetu18978:hover #u18980-4 *
{
	color: #4F4F4F;
}

#widgetu18978.focus-st #u18980-4 *
{
	color: #4F4F4F;
}

#widgetu18960
{
	z-index: 108;
	width: 312px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
}

#widgetu18960.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	margin: 82px -10000px 0px 0px;
}

#u18963-4
{
	z-index: 109;
	width: 200px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u18961-4
{
	z-index: 113;
	width: 300px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: -1px;
}

#widgetu18960.non-empty-st #u18961-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
}

#widgetu18978.fld-err-st #u18980-4,#widgetu18960:hover #u18961-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 28px -10000px -1px 0px;
}

#widgetu18960.focus-st #u18961-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 28px -10000px -1px 0px;
}

#widgetu18960.fld-err-st #u18961-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 28px -10000px -1px 0px;
}

#widgetu18960.non-empty-st #u18961-4 *
{
	color: #4F4F4F;
}

#widgetu18960:hover #u18961-4 *
{
	color: #4F4F4F;
}

#widgetu18960.focus-st #u18961-4 *
{
	color: #4F4F4F;
}

#widgetu18965
{
	z-index: 117;
	width: 312px;
	height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
}

#widgetu18965.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	margin: 164px -10000px 0px 0px;
}

#u18968-4
{
	z-index: 118;
	width: 200px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu18960.fld-err-st #u18963-4,#widgetu18965.fld-err-st #u18968-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u18969-4
{
	z-index: 122;
	width: 300px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: -1px;
}

#widgetu18965.non-empty-st #u18969-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
}

#widgetu18965:hover #u18969-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 29px -10000px -1px 0px;
}

#widgetu18965.focus-st #u18969-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 29px -10000px -1px 0px;
}

#widgetu18965.fld-err-st #u18969-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 300px;
	margin: 29px -10000px -1px 0px;
}

#widgetu18965.non-empty-st #u18969-4 *
{
	color: #000000;
}

#widgetu18965:hover #u18969-4 *
{
	color: #6B6B6B;
}

#widgetu18965.focus-st #u18969-4 *
{
	color: #6B6B6B;
}

#widgetu18978_input,#widgetu18978_prompt,#widgetu18960_input,#widgetu18960_prompt,#widgetu18965_input,#widgetu18965_prompt
{
	width: 300px;
	min-height: 14px;
	padding: 6px;
}

#u18989-4
{
	z-index: 126;
	width: 149px;
	min-height: 48px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 96px;
}

#widgetu18959.frm-sub-st #u18989-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 52px;
}

#widgetu18959.frm-sub-st #u18989-4 p
{
	font-size: 20px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u18988-4
{
	z-index: 130;
	width: 149px;
	min-height: 29px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 96px;
}

#widgetu18959.frm-subm-err-st #u18988-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 33px;
}

#widgetu18959.frm-subm-err-st #u18988-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18977-4
{
	z-index: 134;
	width: 149px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 1;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 96px;
}

#widgetu18959.frm-subm-ok-st #u18977-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 23px;
}

#widgetu18959.frm-subm-ok-st #u18977-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18990-17
{
	z-index: 138;
	min-height: 41px;
	width: 313px;
	background: url("../../images/u18990-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
}

#u18990-17:hover
{
	background: url("../../images/u18990-17-r.png") no-repeat 0px 0px;
}

#u18990-17:active
{
	background: url("../../images/u18990-17-m.png") no-repeat 0px 0px;
}

#widgetu18959.frm-sub-st #u18990-17
{
	background: url("../../images/u18990-17-fs.png") no-repeat 0px 0px;
}

#widgetu18983
{
	z-index: 155;
	width: 312px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
}

#widgetu18983.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	margin: 256px -10000px 0px 0px;
}

#u18986-4
{
	z-index: 156;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu18978.fld-err-st #u18979-4,#widgetu18983.fld-err-st #u18986-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u18987-4
{
	z-index: 160;
	width: 300px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: -1px;
}

#widgetu18983.non-empty-st #u18987-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
}

#widgetu18983:hover #u18987-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 300px;
	margin: 29px -10000px -1px 0px;
}

#widgetu18983.focus-st #u18987-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 300px;
	margin: 29px -10000px -1px 0px;
}

#widgetu18983.fld-err-st #u18987-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 300px;
	margin: 29px -10000px -1px 0px;
}

#widgetu18983.non-empty-st #u18987-4 *
{
	color: #4F4F4F;
}

#widgetu18983:hover #u18987-4 *
{
	color: #4F4F4F;
}

#widgetu18983.focus-st #u18987-4 *
{
	color: #4F4F4F;
}

#widgetu18978.fld-err-st #u18979-4 p,#widgetu18978.fld-err-st #u18979-4 span,#widgetu18978.fld-err-st #u18980-4 *,#widgetu18960.fld-err-st #u18963-4 p,#widgetu18960.fld-err-st #u18963-4 span,#widgetu18960.fld-err-st #u18961-4 *,#widgetu18965.fld-err-st #u18968-4 p,#widgetu18965.fld-err-st #u18968-4 span,#widgetu18965.fld-err-st #u18969-4 *,#widgetu18983.fld-err-st #u18986-4 p,#widgetu18983.fld-err-st #u18986-4 span,#widgetu18983.fld-err-st #u18987-4 *
{
	color: #D7244C;
}

#widgetu18983_input,#widgetu18983_prompt
{
	width: 300px;
	min-height: 68px;
	padding: 6px;
}

#widgetu18978.focus-st #widgetu18978_prompt,#widgetu18960.focus-st #widgetu18960_prompt,#widgetu18965.focus-st #widgetu18965_prompt,#widgetu18983.focus-st #widgetu18983_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu18978:hover #widgetu18978_input,#widgetu18978.focus-st #widgetu18978_input,#widgetu18978.fld-err-st #widgetu18978_input,#widgetu18978:hover #widgetu18978_prompt,#widgetu18978.fld-err-st #widgetu18978_prompt,#widgetu18960:hover #widgetu18960_input,#widgetu18960.focus-st #widgetu18960_input,#widgetu18960.fld-err-st #widgetu18960_input,#widgetu18960:hover #widgetu18960_prompt,#widgetu18960.fld-err-st #widgetu18960_prompt,#widgetu18965:hover #widgetu18965_input,#widgetu18965.focus-st #widgetu18965_input,#widgetu18965.fld-err-st #widgetu18965_input,#widgetu18965:hover #widgetu18965_prompt,#widgetu18965.fld-err-st #widgetu18965_prompt,#widgetu18983:hover #widgetu18983_input,#widgetu18983.focus-st #widgetu18983_input,#widgetu18983.fld-err-st #widgetu18983_input,#widgetu18983:hover #widgetu18983_prompt,#widgetu18983.fld-err-st #widgetu18983_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu18978.non-empty-st #widgetu18978_prompt,#widgetu18960.non-empty-st #widgetu18960_prompt,#widgetu18965.non-empty-st #widgetu18965_prompt,#widgetu18983.non-empty-st #widgetu18983_prompt
{
	visibility: hidden;
}

#pu18944
{
	width: 0.01px;
	margin-left: 11px;
	top: -25px;
	margin-bottom: -25px;
	position: relative;
}

#u18944
{
	z-index: 72;
	width: 29px;
	height: 29px;
	border-color: #000000;
	background-color: #A04A24;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 6px;
}

#u18945
{
	z-index: 73;
	width: 29px;
	height: 29px;
	border-color: #000000;
	background-color: #A04A24;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,15,-6);
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 6px;
}

#u18946
{
	z-index: 74;
	width: 318px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 20px;
	background: #2B2B2C url("../../images/dark_wood.jpg") repeat left top;
}

#u18946_position_content
{
	margin-top: 25px;
	margin-bottom: 9px;
}

#u18951
{
	z-index: 77;
	width: 340px;
	border-style: none;
	border-color: transparent;
	background-color: #DE6530;
	padding-bottom: 7px;
	left: -22px;
	position: relative;
}

#u18953-4
{
	z-index: 79;
	width: 320px;
	min-height: 39px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#u18952
{
	z-index: 78;
	width: 340px;
	border-style: none;
	border-color: transparent;
	background-color: #DE6530;
	padding-bottom: 5px;
	left: -22px;
	margin-top: 20px;
	position: relative;
}

#u18954-4
{
	z-index: 83;
	width: 320px;
	min-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#u18947
{
	z-index: 75;
	width: 320px;
	left: -2px;
	margin-top: 31px;
	position: relative;
}

#u18948
{
	z-index: 76;
	width: 320px;
	min-height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5123
{
	width: 0.01px;
	margin-top: 25px;
	position: relative;
}

#u5123
{
	z-index: 9;
	width: 380px;
	height: 61px;
	margin-right: -10000px;
}

#u5125-7
{
	z-index: 14;
	width: 380px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 17px;
}

#pu8203
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 4px;
	position: relative;
}

#u8203
{
	z-index: 2;
	width: 70px;
	margin-right: -10000px;
	left: 251px;
}

#u5124-4
{
	z-index: 10;
	width: 320px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 70px;
}

#u5129
{
	z-index: 21;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 144px;
}

#u5131
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 216px;
}

#u5133
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u5135
{
	z-index: 27;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 72px;
}

#u5129:hover,#u5131:hover,#u5133:hover,#u5135:hover
{
	margin: 17px -10000px 0px 0px;
}

#u5974-4
{
	z-index: 61;
	width: 320px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 101px;
}

#u7656-3
{
	z-index: 65;
	width: 5px;
	margin-right: -10000px;
	margin-top: 85px;
	left: 173px;
}

#page .verticalspacer
{
	clear: both;
}

