@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1875.5249999999996px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 6px;
}

#pu7652
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#u7652
{
	z-index: 4;
	width: 380px;
	padding-bottom: 16px;
	margin-right: -10000px;
	left: 1px;
}

#u4959
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 316px;
}

#u4954
{
	z-index: 6;
	width: 39px;
	height: 5px;
}

#u4956
{
	z-index: 7;
	width: 39px;
	height: 5px;
	margin-top: 8px;
}

#u4958
{
	z-index: 8;
	width: 39px;
	height: 5px;
	margin-top: 9px;
}

#u5239
{
	z-index: 29;
	width: 380px;
	height: 8px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 1px;
}

#accordionu4960
{
	z-index: 30;
	width: 381px;
	margin-right: -10000px;
}

#u4976
{
	z-index: 31;
	width: 381px;
}

#u4977-3
{
	z-index: 32;
	width: 371px;
	min-height: 44px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4978
{
	z-index: 35;
	width: 381px;
}

#menuu5061
{
	z-index: 36;
	width: 380px;
	margin-right: -10000px;
}

@viewport,#u5076
{
	width: 380px;
}

#u5079
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u5082-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 12px;
}

#u5098
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u5101-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 13px;
}

#u5091
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u5092-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 13px;
}

#u5097,#u5090,#u5083
{
	width: 380px;
	margin-top: 2px;
}

#u5086
{
	width: 380px;
	min-height: 25px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u5079.MuseMenuActive,#u5098.MuseMenuActive,#u5091.MuseMenuActive,#u5086.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u5088-4
{
	width: 380px;
	min-height: 25px;
	margin-right: -10000px;
	top: 13px;
}

#u5079.MuseMenuActive #u5082-4,#u5098.MuseMenuActive #u5101-4,#u5091.MuseMenuActive #u5092-4,#u5086.MuseMenuActive #u5088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u9356
{
	z-index: 68;
	width: 88px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 32px;
}

#u9359
{
	z-index: 69;
	width: 86px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u9357
{
	z-index: 70;
	width: 104px;
	margin-right: -10000px;
	margin-top: 10px;
	left: -10px;
}

#u18861
{
	z-index: 72;
	width: 380px;
	left: -1px;
	margin-top: 42px;
	position: relative;
}

#u18865
{
	z-index: 73;
	width: 318px;
	height: 122px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 31px;
	position: relative;
	background: #FFFFFF url("../../images/a1-small-file-u18865-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18862
{
	z-index: 74;
	width: 320px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 31px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18864-4
{
	z-index: 76;
	width: 380px;
	min-height: 15px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	position: relative;
}

#u18866
{
	z-index: 80;
	width: 383px;
	padding-bottom: 0px;
	margin-top: 18px;
	position: relative;
}

#u18867
{
	z-index: 81;
	width: 319px;
	height: 147px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 30px;
	position: relative;
	background: #FFFFFF url("../../images/a2-small-file-u18867-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18868
{
	z-index: 82;
	width: 329px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 27px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18870-4
{
	z-index: 84;
	width: 383px;
	min-height: 20px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	position: relative;
}

#u18871
{
	z-index: 88;
	width: 380px;
	margin-top: 15px;
	position: relative;
}

#u18872
{
	z-index: 89;
	width: 319px;
	height: 310px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 30px;
	position: relative;
	background: #FFFFFF url("../../images/a6-small-file-u18872-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18874
{
	z-index: 90;
	width: 320px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 30px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18873-4
{
	z-index: 92;
	width: 380px;
	min-height: 14px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	position: relative;
}

#u18892
{
	z-index: 120;
	width: 380px;
	padding-bottom: 0px;
	margin-top: 13px;
	position: relative;
}

#u18894
{
	z-index: 121;
	width: 319px;
	height: 320px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 30px;
	position: relative;
	background: #FFFFFF url("../../images/a7-small-file-u18894-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18895
{
	z-index: 122;
	width: 324px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 30px;
	position: relative;
}

#u18893-4
{
	z-index: 124;
	width: 380px;
	min-height: 18px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	margin-top: 6px;
	position: relative;
}

#u18877
{
	z-index: 96;
	width: 380px;
	margin-top: 17px;
	position: relative;
}

#u18878
{
	z-index: 97;
	width: 319px;
	height: 125px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 30px;
	position: relative;
	background: #FFFFFF url("../../images/a3-small-file-u18878-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18879
{
	z-index: 98;
	width: 313px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 37px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18881-4
{
	z-index: 100;
	width: 380px;
	min-height: 18px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	margin-top: 2px;
	position: relative;
}

#u18882
{
	z-index: 104;
	width: 380px;
	margin-top: 18px;
	position: relative;
}

#u18883
{
	z-index: 105;
	width: 319px;
	height: 126px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 30px;
	position: relative;
	background: #FFFFFF url("../../images/a4-small-file-u18883-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18885
{
	z-index: 106;
	width: 325px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 34px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18884-4
{
	z-index: 108;
	width: 380px;
	min-height: 17px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	margin-top: 1px;
	position: relative;
}

#u18887
{
	z-index: 112;
	width: 380px;
	margin-top: 19px;
	position: relative;
}

#u18888
{
	z-index: 113;
	width: 319px;
	height: 478px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 30px;
	position: relative;
	background: #FFFFFF url("../../images/a5-small-file-u18888-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18889
{
	z-index: 114;
	width: 314px;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	margin-left: 30px;
	margin-top: 8px;
	position: relative;
}

#u18891-4
{
	z-index: 116;
	width: 380px;
	min-height: 39px;
	color: #7F7F7F;
	text-align: center;
	font-size: 10px;
	margin-top: 1px;
	position: relative;
}

#pu5123
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u5123
{
	z-index: 9;
	width: 380px;
	height: 61px;
	margin-right: -10000px;
}

#u5125-7
{
	z-index: 14;
	width: 380px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 17px;
}

#pu8203
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 3px;
	position: relative;
}

#u8203
{
	z-index: 2;
	width: 70px;
	margin-right: -10000px;
	left: 251px;
}

#u5124-4
{
	z-index: 10;
	width: 320px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 70px;
}

#u5129
{
	z-index: 21;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 144px;
}

#u5131
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 216px;
}

#u5133
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u5135
{
	z-index: 27;
	width: 32px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 72px;
}

#u5129:hover,#u5131:hover,#u5133:hover,#u5135:hover
{
	margin: 17px -10000px 0px 0px;
}

#u5974-4
{
	z-index: 61;
	width: 320px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 101px;
}

#u7656-3
{
	z-index: 65;
	width: 5px;
	margin-right: -10000px;
	margin-top: 85px;
	left: 173px;
}

#page .verticalspacer
{
	clear: both;
}

