.version._32_graffiti_images /* version checker */
{
	color: #0000E1;
	background-color: #46A66F;
}

.html
{
	background: #FFFFFF url("../images/mr_snowmann_003.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3779px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u2572-3
{
	z-index: 2;
	width: 213px;
	min-height: 571px;
	top: 0px;
	left: 0px;
}

#ppu1362
{
	width: 0.01px;
	margin-left: 167px;
}

#pu1362
{
	z-index: 92;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1362
{
	z-index: 0;
	width: 920px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1363-4
{
	width: 0.01px;
	position: relative;
	left: 30px;
	padding-top: 93px;
	z-index: 2;
	padding-bottom: 3129px;
}

#u1363-4
{
	z-index: 104;
	width: 835px;
	min-height: 54px;
	background-color: transparent;
	line-height: 48px;
	margin-left: 8px;
	position: relative;
}

#u2573
{
	z-index: 98;
	width: 730px;
	min-height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 168px;
	position: relative;
}

#u2725-5
{
	z-index: 93;
	width: 668px;
	min-height: 95px;
	border-style: solid;
	border-color: #CACACA;
	background-color: transparent;
	margin-left: 62px;
	margin-top: 88px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u2725-2
{
	text-align: center;
}

#u2689
{
	z-index: 99;
	width: 730px;
	min-height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 30px;
}

#u2665
{
	z-index: 100;
	width: 730px;
	min-height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 30px;
}

#u2624
{
	z-index: 101;
	width: 730px;
	min-height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	left: 70px;
}

#u2719
{
	z-index: 102;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 10px;
}

#u2721
{
	z-index: 103;
	width: 920px;
	min-height: 663px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
}

#u1365-5
{
	z-index: 108;
	width: 668px;
	min-height: 95px;
	border-style: solid;
	border-color: #CACACA;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 37px;
	border-width: 0px 0px 1px;
}

#pu319-12
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3744px;
}

#pu319-12_position_content
{
	margin-top: -35px;
	padding-bottom: 554px;
}

#u319-12
{
	z-index: 5;
	width: 213px;
	min-height: 37px;
	top: 35px;
	left: 0px;
}

#u349
{
	z-index: 54;
	width: 32px;
	height: 28px;
	top: 233px;
	left: 0px;
}

#menuu320
{
	z-index: 17;
	width: 178px;
	top: 233px;
	left: 35px;
}

#u328
{
	width: 178px;
}

#u329
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u329:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u331-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u329:hover #u331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u336
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u329.MuseMenuActive,#u336:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u329.MuseMenuActive #u331-4,#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u345
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u336.MuseMenuActive,#u345:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u347-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u336.MuseMenuActive #u337-4,#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u3136
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u345.MuseMenuActive,#u3136:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3137-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u345.MuseMenuActive #u347-4,#u3136:hover #u3137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u2886
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u3136.MuseMenuActive,#u2886:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2889-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u3136.MuseMenuActive #u3137-4,#u2886:hover #u2889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u335,#u342,#u3135,#u2883,#u321
{
	width: 178px;
	margin-top: 2px;
}

#u322
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2886.MuseMenuActive,#u322:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u324-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u2886.MuseMenuActive #u2889-4,#u322:hover #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	z-index: 60;
	width: 17px;
	top: 240px;
	left: 8px;
}

#u350
{
	z-index: 55;
	width: 32px;
	height: 28px;
	top: 264px;
	left: 0px;
}

#u670
{
	z-index: 83;
	top: 267px;
	left: 5px;
}

#u351
{
	z-index: 56;
	width: 32px;
	height: 27px;
	top: 295px;
	left: 0px;
}

#u359
{
	z-index: 62;
	width: 19px;
	top: 300px;
	left: 7px;
}

#u3216
{
	z-index: 85;
	width: 32px;
	height: 27px;
	top: 324px;
	left: 0px;
}

#u3217
{
	z-index: 86;
	width: 19px;
	top: 328px;
	left: 7px;
}

#u3239
{
	z-index: 88;
	width: 32px;
	padding-bottom: 27px;
	top: 353px;
	left: 0px;
}

#u3220
{
	z-index: 89;
	width: 32px;
	padding-bottom: 5px;
	top: 353px;
	left: 0px;
}

#u3233
{
	z-index: 90;
	width: 16px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u352
{
	z-index: 57;
	width: 32px;
	height: 29px;
	top: 382px;
	left: 0px;
}

#u355
{
	z-index: 58;
	width: 17px;
	top: 389px;
	left: 7px;
}

#u361
{
	z-index: 64;
	width: 138px;
	top: 478px;
	left: 42px;
}

#u362
{
	z-index: 65;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u365
{
	z-index: 69;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u363
{
	z-index: 66;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 37px;
}

#u369
{
	z-index: 71;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u364
{
	z-index: 67;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 73px;
}

#u372
{
	z-index: 73;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u371
{
	z-index: 68;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 108px;
}

#u362:hover,#u363:hover,#u364:hover,#u371:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u367
{
	z-index: 75;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u374-6
{
	z-index: 77;
	width: 174px;
	min-height: 23px;
	top: 531px;
	left: 24px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

