.version.contact /* version checker */
{
	color: #000012;
	background-color: #7D3874;
}

.html
{
	background: #FFFFFF url("../images/glasses.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1149.7999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u2572-3
{
	z-index: 82;
	width: 213px;
	min-height: 571px;
	top: 0px;
	left: 0px;
}

#pu1077
{
	width: 0.01px;
	margin-left: 124px;
}

#u1077
{
	z-index: 2;
	width: 668px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 93px 88px 527px 80px;
}

#u1291-4
{
	z-index: 72;
	width: 414px;
	min-height: 39px;
	background-color: transparent;
	line-height: 48px;
	position: relative;
}

#u1086
{
	z-index: 3;
	width: 664px;
	border-color: #000000;
	background-color: #AFBBBD;
	padding-bottom: 12px;
	margin-left: 4px;
	margin-top: 43px;
	position: relative;
}

#pu1110
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 107px;
	margin-left: 115px;
}

#u1110
{
	z-index: 10;
	width: 8px;
	background-color: transparent;
	position: relative;
}

#u1105
{
	z-index: 8;
	width: 10px;
	background-color: transparent;
	margin-top: 61px;
	position: relative;
}

#u1095
{
	z-index: 6;
	width: 13px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u2615
{
	z-index: 4;
	width: 173px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 378px;
}

#u1294-4
{
	z-index: 76;
	width: 668px;
	min-height: 74px;
	border-style: solid;
	border-color: #CACACA;
	background-color: transparent;
	margin-top: 66px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1126-11
{
	z-index: 12;
	width: 246px;
	min-height: 139px;
	border-color: #CACACA;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 222px;
}

#widgetu1146
{
	z-index: 23;
	width: 0.01px;
	height: 194px;
	position: relative;
	margin-right: -10000px;
	margin-top: 637px;
	left: 80px;
}

#widgetu1153
{
	z-index: 24;
	width: 263px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1153.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 263px;
	height: 52px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1154-4
{
	z-index: 25;
	width: 231px;
	min-height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #CACACA;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 32px;
	font-size: 16px;
	font-family: raleway, sans-serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	padding: 10px 15px 5px;
}

#widgetu1153.non-empty-st #u1154-4
{
	background-color: #FFFFFF;
}

#widgetu1153.non-empty-st #u1154-4 *
{
	color: #474747;
	font-style: normal;
}

#widgetu1159
{
	z-index: 29;
	width: 263px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: -1px;
}

#widgetu1159.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 263px;
	height: 52px;
	min-height: 0px;
	margin: 69px -10000px 0px 0px;
}

#u1162-4
{
	z-index: 30;
	width: 231px;
	min-height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #CACACA;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 32px;
	font-size: 16px;
	font-family: raleway, sans-serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	padding: 10px 15px 5px;
}

#widgetu1159.non-empty-st #u1162-4
{
	background-color: #FFFFFF;
}

#widgetu1153.fld-err-st #u1154-4,#widgetu1159.fld-err-st #u1162-4
{
	border-color: #474747;
	padding-top: 10px;
	padding-bottom: 5px;
	min-height: 35px;
	width: 231px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1159.non-empty-st #u1162-4 *
{
	color: #474747;
	font-style: normal;
}

#widgetu1153_input,#widgetu1153_prompt,#widgetu1159_input,#widgetu1159_prompt
{
	width: 231px;
	min-height: 35px;
	color: #000000;
	font-family: raleway, sans-serif;
	font-size: 16px;
	font-weight: 100;
	padding: 10px 15px 5px;
}

#u1158-4
{
	z-index: 34;
	width: 146px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #54B6D1;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
}

#u1157-4
{
	z-index: 38;
	width: 146px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00BFF3;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
}

#widgetu1146.frm-sub-st #u1158-4 p,#widgetu1146.frm-subm-err-st #u1157-4 p
{
	color: #474747;
	line-height: 1;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1152-4
{
	z-index: 42;
	width: 146px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #54B6D1;
	line-height: 16px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
}

#widgetu1146.frm-sub-st #u1158-4,#widgetu1146.frm-subm-err-st #u1157-4,#widgetu1146.frm-subm-ok-st #u1152-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 46px;
}

#widgetu1146.frm-subm-ok-st #u1152-4 p
{
	color: #474747;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1151-17
{
	z-index: 46;
	min-height: 41px;
	width: 188px;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 481px;
	background: url("../images/u1151-17.png") no-repeat 0px 0px;
}

#u1151-17:hover
{
	background: url("../images/u1151-17-r.png") no-repeat 0px 0px;
}

#u1151-17:active
{
	background: url("../images/u1151-17-m.png") no-repeat 0px 0px;
}

#widgetu1146.frm-sub-st #u1151-17
{
	background: url("../images/u1151-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u1151-17
{
	background-image: url("../images/u1151-17_2x.png");
	background-size: 187px 40px;
}

.hidpi #u1151-17:hover
{
	background-image: url("../images/u1151-17-r_2x.png");
	background-size: 188px 41px;
}

.hidpi #u1151-17:active
{
	background-image: url("../images/u1151-17-m_2x.png");
	background-size: 188px 41px;
}

.hidpi #widgetu1146.frm-sub-st #u1151-17
{
	background-image: url("../images/u1151-17-fs_2x.png");
	background-size: 187px 40px;
}

#widgetu1147
{
	z-index: 63;
	width: 391px;
	height: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 278px;
}

#widgetu1147.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 391px;
	height: 122px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1149-4
{
	z-index: 64;
	width: 359px;
	min-height: 105px;
	border-width: 1px;
	border-style: solid;
	border-color: #CACACA;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 32px;
	font-size: 16px;
	font-family: raleway, sans-serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	padding: 10px 15px 5px;
}

#widgetu1147.non-empty-st #u1149-4
{
	background-color: #FFFFFF;
}

#widgetu1147.fld-err-st #u1149-4
{
	border-color: #474747;
	padding-top: 10px;
	padding-bottom: 5px;
	min-height: 105px;
	width: 359px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1147.non-empty-st #u1149-4 *
{
	color: #474747;
	font-style: normal;
}

#widgetu1153.fld-err-st #u1154-4 *,#widgetu1159.fld-err-st #u1162-4 *,#widgetu1147.fld-err-st #u1149-4 *
{
	color: #A5001E;
	font-style: normal;
}

#widgetu1147_input,#widgetu1147_prompt
{
	width: 359px;
	min-height: 105px;
	color: #000000;
	font-family: raleway, sans-serif;
	font-size: 16px;
	font-weight: 100;
	padding: 10px 15px 5px;
}

#widgetu1153.fld-err-st #widgetu1153_input,#widgetu1153.fld-err-st #widgetu1153_prompt,#widgetu1159.fld-err-st #widgetu1159_input,#widgetu1159.fld-err-st #widgetu1159_prompt,#widgetu1147.fld-err-st #widgetu1147_input,#widgetu1147.fld-err-st #widgetu1147_prompt
{
	padding-top: 10px;
	padding-bottom: 5px;
}

#widgetu1153.non-empty-st #widgetu1153_prompt,#widgetu1159.non-empty-st #widgetu1159_prompt,#widgetu1147.non-empty-st #widgetu1147_prompt
{
	visibility: hidden;
}

#u1127-4
{
	z-index: 68;
	width: 315px;
	min-height: 39px;
	border-color: #CACACA;
	background-color: transparent;
	font-size: 30px;
	letter-spacing: 0px;
	color: #FFFFFF;
	line-height: 36px;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 221px;
}

#u3090
{
	z-index: 80;
	width: 63px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 357px;
	left: 629px;
}

#pu319-12
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1115px;
}

#pu319-12_position_content
{
	margin-top: -35px;
	padding-bottom: 554px;
}

#u319-12
{
	z-index: 85;
	width: 213px;
	min-height: 37px;
	top: 35px;
	left: 0px;
}

#u349
{
	z-index: 129;
	width: 32px;
	height: 34px;
	top: 233px;
	left: 0px;
}

#menuu320
{
	z-index: 97;
	width: 178px;
	top: 233px;
	left: 35px;
}

#u328
{
	width: 178px;
}

#u329
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u329:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u331-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u329:hover #u331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u345
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u329.MuseMenuActive,#u345:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u347-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u329.MuseMenuActive #u331-4,#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u3676
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u345.MuseMenuActive,#u3676:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3679-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u345.MuseMenuActive #u347-4,#u3676:hover #u3679-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u336
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u3676.MuseMenuActive,#u336:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u3676.MuseMenuActive #u3679-4,#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u342,#u3675,#u335,#u321
{
	width: 178px;
	margin-top: 2px;
}

#u322
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u336.MuseMenuActive,#u322:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u324-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u336.MuseMenuActive #u337-4,#u322:hover #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	z-index: 135;
	width: 17px;
	top: 240px;
	left: 8px;
}

#u350
{
	z-index: 130;
	width: 32px;
	height: 34px;
	top: 269px;
	left: 0px;
}

#u359
{
	z-index: 137;
	width: 19px;
	top: 276px;
	left: 7px;
}

#u351
{
	z-index: 131;
	width: 32px;
	height: 34px;
	top: 305px;
	left: 0px;
}

#u3233
{
	z-index: 160;
	width: 16px;
	top: 313px;
	left: 9px;
}

#u3220
{
	z-index: 128;
	width: 32px;
	height: 34px;
	top: 341px;
	left: 0px;
}

#u670
{
	z-index: 158;
	top: 347px;
	left: 5px;
}

#u352
{
	z-index: 132;
	width: 32px;
	height: 34px;
	top: 377px;
	left: 0px;
}

#u355
{
	z-index: 133;
	width: 17px;
	top: 387px;
	left: 7px;
}

#u361
{
	z-index: 139;
	width: 138px;
	top: 478px;
	left: 42px;
}

#u362
{
	z-index: 140;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u365
{
	z-index: 144;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u363
{
	z-index: 141;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 37px;
}

#u369
{
	z-index: 146;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u364
{
	z-index: 142;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 73px;
}

#u372
{
	z-index: 148;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u371
{
	z-index: 143;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 108px;
}

#u362:hover,#u363:hover,#u364:hover,#u371:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u367
{
	z-index: 150;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u374-6
{
	z-index: 152;
	width: 174px;
	min-height: 23px;
	top: 531px;
	left: 24px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

