.Caption
{
	font-family: medula-one-n4, serif;
}

.heading2
{
	font-family: montserrat-n4, sans-serif;
}

.h1
{
	font-family: raleway-n1, sans-serif;
}

.bodytext
{
	font-family: sorts-mill-goudy-n5, serif;
}

.Gallery-Caption
{
	font-family: sorts-mill-goudy-i5, serif;
}

.title-semibold
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u331-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u347-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u3679-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u337-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u324-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u319-12,#u374-6
{
	font-family: raleway-n1, sans-serif;
}

#u374,#u374-2
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1245-4
{
	font-family: sorts-mill-goudy-i5, serif;
}

