.version.index /* version checker */
{
	color: #00001D;
	background-color: #9F8F23;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 94px 721px 671px 239px;
}

#slideshowu1295
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
}

#u1320
{
	position: absolute;
	background-color: transparent;
}

#u1320popup
{
	z-index: 3;
}

#u1323
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1321
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1329
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1325
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1331
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1306
{
	width: 92px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 478px;
	position: fixed;
	top: 45px;
	right: 109px;
	background: transparent url("../images/pattern-overlay-u1306-fr.png") repeat left top;
}

#u1306popup
{
	z-index: 14;
}

.hidpi #u1306
{
	background-image: url("../images/pattern-overlay-u1306-fr_2x.png");
	background-size: 480px 302.5px;
}

#u1307
{
	z-index: 15;
	width: 88px;
	height: 78px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7F7F7F;
	position: fixed;
	top: 45px;
	right: 17px;
}

#u1307:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	width: 84px;
	height: 74px;
	min-height: 0px;
	margin: 2px;
}

#u1311
{
	z-index: 17;
	width: 88px;
	height: 78px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7F7F7F;
	position: fixed;
	top: 144px;
	right: 17px;
}

#u1311:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	width: 84px;
	height: 74px;
	min-height: 0px;
	margin: 2px;
}

#u1313
{
	z-index: 19;
	width: 88px;
	height: 78px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7F7F7F;
	position: fixed;
	top: 243px;
	right: 17px;
}

#u1313:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	width: 84px;
	height: 74px;
	min-height: 0px;
	margin: 2px;
}

#u1317
{
	z-index: 21;
	width: 88px;
	height: 78px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7F7F7F;
	position: fixed;
	top: 342px;
	right: 17px;
}

#u1317:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	width: 84px;
	height: 74px;
	min-height: 0px;
	margin: 2px;
}

#u1309
{
	z-index: 23;
	width: 88px;
	height: 78px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7F7F7F;
	position: fixed;
	top: 441px;
	right: 17px;
}

#u1309:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	width: 84px;
	height: 74px;
	min-height: 0px;
	margin: 2px;
}

#u1307.SSSlideLinkSelected,#u1311.SSSlideLinkSelected,#u1313.SSSlideLinkSelected,#u1317.SSSlideLinkSelected,#u1309.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 88px;
	height: 78px;
	min-height: 0px;
	margin: 2px;
}

#u1296
{
	width: 774px;
	background-color: transparent;
	position: fixed;
	bottom: -3px;
	left: 0px;
}

#u1296popup
{
	z-index: 25;
}

#u1298-4
{
	z-index: 26;
	width: 754px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1297-4
{
	z-index: 30;
	width: 754px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1302-4
{
	z-index: 34;
	width: 754px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1301-4
{
	z-index: 38;
	width: 754px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1299-4
{
	z-index: 42;
	width: 754px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2572-3
{
	z-index: 46;
	width: 213px;
	min-height: 571px;
	top: 0px;
	left: 0px;
}

#u319-12
{
	z-index: 49;
	width: 213px;
	min-height: 37px;
	top: 35px;
	left: 0px;
}

#u349
{
	z-index: 93;
	width: 32px;
	height: 34px;
	top: 233px;
	left: 0px;
}

#menuu320
{
	z-index: 61;
	width: 178px;
	top: 233px;
	left: 35px;
}

#u328
{
	width: 178px;
}

#u329
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u329:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u331-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u329:hover #u331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u345
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u329.MuseMenuActive,#u345:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u347-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u329.MuseMenuActive #u331-4,#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u3676
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u345.MuseMenuActive,#u3676:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3679-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u345.MuseMenuActive #u347-4,#u3676:hover #u3679-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u336
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u3676.MuseMenuActive,#u336:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u3676.MuseMenuActive #u3679-4,#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u342,#u3675,#u335,#u321
{
	width: 178px;
	margin-top: 2px;
}

#u322
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u336.MuseMenuActive,#u322:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u324-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u336.MuseMenuActive #u337-4,#u322:hover #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	z-index: 99;
	width: 17px;
	top: 240px;
	left: 8px;
}

#u350
{
	z-index: 94;
	width: 32px;
	height: 34px;
	top: 269px;
	left: 0px;
}

#u359
{
	z-index: 101;
	width: 19px;
	top: 276px;
	left: 7px;
}

#u351
{
	z-index: 95;
	width: 32px;
	height: 34px;
	top: 305px;
	left: 0px;
}

#u3233
{
	z-index: 124;
	width: 16px;
	top: 313px;
	left: 9px;
}

#u3220
{
	z-index: 92;
	width: 32px;
	height: 34px;
	top: 341px;
	left: 0px;
}

#u670
{
	z-index: 122;
	top: 347px;
	left: 5px;
}

#u352
{
	z-index: 96;
	width: 32px;
	height: 34px;
	top: 377px;
	left: 0px;
}

#u355
{
	z-index: 97;
	width: 17px;
	top: 387px;
	left: 7px;
}

#u361
{
	z-index: 103;
	width: 138px;
	top: 478px;
	left: 42px;
}

#u362
{
	z-index: 104;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u365
{
	z-index: 108;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u363
{
	z-index: 105;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 37px;
}

#u369
{
	z-index: 110;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u364
{
	z-index: 106;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 73px;
}

#u372
{
	z-index: 112;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u371
{
	z-index: 107;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 108px;
}

#u362:hover,#u363:hover,#u364:hover,#u371:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u367
{
	z-index: 114;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u374-6
{
	z-index: 116;
	width: 174px;
	min-height: 23px;
	top: 531px;
	left: 24px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

