.version.portfolio /* version checker */
{
	color: #0000E4;
	background-color: #3E7D8F;
}

.html
{
	background-color: #474747;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1077px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu3646
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 273px;
	margin-left: -174px;
}

#u3646
{
	z-index: 8;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3648
{
	z-index: 24;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3657
{
	z-index: 25;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2572-3
{
	z-index: 40;
	width: 213px;
	min-height: 571px;
	top: 0px;
	left: 0px;
}

#u319-12
{
	z-index: 43;
	width: 213px;
	min-height: 37px;
	top: 35px;
	left: 0px;
}

#u349
{
	z-index: 87;
	width: 32px;
	height: 34px;
	top: 233px;
	left: 0px;
}

#ppu3637
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#pu3637
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 267px;
}

#u3637
{
	z-index: 0;
	width: 920px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3661-6
{
	width: 0.01px;
	padding-bottom: 1228.2000000000003px;
	position: relative;
	left: 92px;
	padding-top: 33px;
	z-index: 2;
}

#u3661-6
{
	z-index: 26;
	width: 509px;
	min-height: 48px;
	border-style: solid;
	border-color: #CACACA;
	background-color: transparent;
	color: #CACACA;
	text-align: center;
	margin-left: 114px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3661-4
{
	font-size: 11px;
	line-height: 15px;
}

#pbuttonu3655
{
	width: 0.01px;
	margin-top: 88px;
}

#buttonu3655
{
	z-index: 9;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	border-radius: 0px;
	padding-bottom: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu3655:hover
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu3655.ButtonSelected
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u3656-4
{
	z-index: 10;
	width: 191px;
	min-height: 18px;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 3px;
	color: #7F7F7F;
	line-height: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#buttonu3655:hover #u3656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 191px;
	margin: 7px -10000px 0px 0px;
}

#buttonu3655.ButtonSelected #u3656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 191px;
	margin: 7px -10000px 0px 0px;
}

#buttonu3655:hover #u3656-4 p
{
	color: #FA6900;
	visibility: inherit;
}

#buttonu3655.ButtonSelected #u3656-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#buttonu3665
{
	z-index: 14;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	border-radius: 0px;
	padding-bottom: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#buttonu3665:hover
{
	border-color: #7F7F7F;
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu3665.ButtonSelected
{
	border-color: #FFFFFF;
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

.beach,.city
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
}

#u3666-4
{
	z-index: 15;
	width: 208px;
	min-height: 18px;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 3px;
	color: #7F7F7F;
	line-height: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -1px;
}

#buttonu3665:hover #u3666-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 208px;
	margin: 7px -10000px 0px 0px;
}

#buttonu3665.ButtonSelected #u3666-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 208px;
	margin: 7px -10000px 0px 0px;
}

#buttonu3665:hover #u3666-4 p
{
	color: #FA6900;
	visibility: inherit;
}

#buttonu3665.ButtonSelected #u3666-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3652-4
{
	z-index: 19;
	width: 211px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 11px;
	letter-spacing: 3px;
	color: #7F7F7F;
	line-height: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u3652-4:hover
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 211px;
	margin: 0px -10000px -1px 0px;
}

.all
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3652-4:hover p
{
	color: #F16A00;
	visibility: inherit;
}

#u3743-4
{
	z-index: 3;
	width: 920px;
	min-height: 54px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 267px;
}

#u3640
{
	z-index: 7;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3640-bw
{
	z-index: 7;
	min-height: 604px;
	margin-top: 239px;
}

#u3664-4
{
	z-index: 32;
	width: 920px;
	min-height: 54px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 267px;
}

#pmenuu320
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: -100px;
}

#pmenuu320_position_content
{
	margin-top: -233px;
	padding-bottom: 554px;
}

#menuu320
{
	z-index: 55;
	width: 178px;
	top: 233px;
	left: 35px;
}

#u328
{
	width: 178px;
}

#u329
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u329:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u331-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u329:hover #u331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u345
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u329.MuseMenuActive,#u345:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u347-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u329.MuseMenuActive #u331-4,#u345:hover #u347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u3676
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u345.MuseMenuActive,#u3676:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3679-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u345.MuseMenuActive #u347-4,#u3676:hover #u3679-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u336
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u3676.MuseMenuActive,#u336:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u3676.MuseMenuActive #u3679-4,#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u342,#u3675,#u335,#u321
{
	width: 178px;
	margin-top: 2px;
}

#u322
{
	width: 178px;
	min-height: 17px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u336.MuseMenuActive,#u322:hover
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive
{
	width: 178px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u324-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u336.MuseMenuActive #u337-4,#u322:hover #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	z-index: 93;
	width: 17px;
	top: 240px;
	left: 8px;
}

#u350
{
	z-index: 88;
	width: 32px;
	height: 34px;
	top: 269px;
	left: 0px;
}

#u359
{
	z-index: 95;
	width: 19px;
	top: 276px;
	left: 7px;
}

#u351
{
	z-index: 89;
	width: 32px;
	height: 34px;
	top: 305px;
	left: 0px;
}

#u3233
{
	z-index: 118;
	width: 16px;
	top: 313px;
	left: 9px;
}

#u3220
{
	z-index: 86;
	width: 32px;
	height: 34px;
	top: 341px;
	left: 0px;
}

#u670
{
	z-index: 116;
	top: 347px;
	left: 5px;
}

#u352
{
	z-index: 90;
	width: 32px;
	height: 34px;
	top: 377px;
	left: 0px;
}

#u355
{
	z-index: 91;
	width: 17px;
	top: 387px;
	left: 7px;
}

#u361
{
	z-index: 97;
	width: 138px;
	top: 478px;
	left: 42px;
}

#u362
{
	z-index: 98;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u365
{
	z-index: 102;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u363
{
	z-index: 99;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 37px;
}

#u369
{
	z-index: 104;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u364
{
	z-index: 100;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 73px;
}

#u372
{
	z-index: 106;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u371
{
	z-index: 101;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 108px;
}

#u362:hover,#u363:hover,#u364:hover,#u371:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u367
{
	z-index: 108;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u374-6
{
	z-index: 110;
	width: 174px;
	min-height: 23px;
	top: 531px;
	left: 24px;
}

#u3653
{
	z-index: 23;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1008px;
	left: 1107px;
}

#pu3808
{
	width: 0.01px;
	margin: 1097px -10000px -8px 645px;
}

#u3808
{
	z-index: 36;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u3814
{
	z-index: 38;
	width: 223px;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1096px;
}

