#u15879
{
	border-style: solid;
	border-color: #DE6530;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 7px 7px 0px ;
	-webkit-border-radius: 0px 7px 7px 0px ;
	-khtml-border-radius: 0px 7px 7px 0px ;
	border-radius: 0px 7px 7px 0px ;
	position: fixed;
	border-width: 3px 3px 3px 0px;
}

#u15654
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15654:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15654:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15656
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15656:hover
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15656:active
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15656.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../images/a1-small-file.jpg") no-repeat left top;
}

#u15655
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15655:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15655:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u15654.PamphletThumbSelected,#u15655.PamphletThumbSelected
{
	border-color: #464646;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../images/a1-small-file.jpg") no-repeat left top;
}

#u15604
{
	position: absolute;
}

#u15605
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../images/a1-small-file.jpg") no-repeat left center;
}

#u15652
{
	border-color: #000000;
	position: relative;
	background: #6B6B6B url("../images/a1-small-file.jpg") no-repeat center center;
	background-size: cover !important;
}

#u15606
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../images/a1-small-file.jpg") no-repeat center center;
}

#u15607-3
{
	border-color: #000000;
	background-color: #545454;
	background-color: rgba(0, 0, 0, 0.67);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.67);
}

#u15619
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u15619:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u15620-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15619:hover #u15620-4 p
{
	font-weight: bold;
}

#u15626
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u15626:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u15627-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15619.MuseMenuActive #u15620-4 p,#u15626:hover #u15627-4 p
{
	font-weight: bold;
}

#u15610
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u15610:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u15611-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15626.MuseMenuActive #u15627-4 p,#u15610:hover #u15611-4 p
{
	font-weight: bold;
}

#u15646
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u15646:hover
{
	background: transparent url("../images/nav_hover.png") no-repeat center center;
}

#u15619.MuseMenuActive,#u15626.MuseMenuActive,#u15610.MuseMenuActive,#u15646.MuseMenuActive
{
	background-image: none;
}

#u15648-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15610.MuseMenuActive #u15611-4 p,#u15646:hover #u15648-4 p
{
	font-weight: bold;
}

#u15646.MuseMenuActive #u15648-4 p
{
	font-weight: bold;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u15713
{
	-pie-box-shadow: none;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: relative;
}

#u15693
{
	background-color: #464646;
	position: relative;
}

#u15694-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15693:hover #u15694-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u15681
{
	background-color: #464646;
	position: relative;
}

#u15682-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15681:hover #u15682-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u15709
{
	background-color: #464646;
	position: relative;
}

#u15710-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15709:hover #u15710-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u15700
{
	background-color: #464646;
	position: relative;
}

#u15702-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15693.MuseMenuActive #u15694-4,#u15681.MuseMenuActive #u15682-4,#u15709.MuseMenuActive #u15710-4,#u15700.MuseMenuActive #u15702-4
{
	border-style: none;
	border-color: transparent;
}

#u15700:hover #u15702-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u15693.MuseMenuActive #u15694-4 p,#u15681.MuseMenuActive #u15682-4 p,#u15709.MuseMenuActive #u15710-4 p,#u15700.MuseMenuActive #u15702-4 p
{
	color: #F7931E;
	visibility: inherit;
	text-decoration: underline;
}

#u15586
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -moz-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -ms-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00999999, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00999999', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u15590-4
{
	letter-spacing: 2px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15577-5
{
	color: #DE6530;
	letter-spacing: 2px;
	text-align: right;
	font-size: 13px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u15580
{
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	position: relative;
}

#u15668-4
{
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	position: relative;
}

#u15591-4
{
	color: #FFFFFF;
	position: relative;
}

#u15884
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/linkedin.jpg") no-repeat left top;
}

#u15884:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #DE6530;
}

#u15886
{
	background-color: transparent;
	position: fixed;
}

#u15880
{
	background-color: transparent;
	position: fixed;
}

#u15882
{
	background-color: transparent;
	position: fixed;
}

#u15886:hover,#u15880:hover,#u15882:hover
{
	border-color: #DE6530;
}

#u15714,#u15587
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/wood.jpg") no-repeat left top;
}

#u15661,#pamphletu15594,#u15653,#menuu15608,#u15616,#u15623,#u15609,#u15645,#menuu15677,#u15692,#u15678,#u15706,#u15699,#u15580_align_to_page,#u15584,#u15666,#u15581,#u15578,#u15669,#u15659,#u15592,#u15730-17,#u15761-18,#u15588
{
	position: relative;
}

#u15588_clip
{
	overflow: hidden;
}

