#u18665
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18665:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18665:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18664
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18664:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18664:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18665.PamphletThumbSelected,#u18664.PamphletThumbSelected
{
	border-color: #464646;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../../images/a1-small-file.jpg") no-repeat left top;
}

#u18663
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18663:hover
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18663:active
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18663.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../../images/a1-small-file.jpg") no-repeat left top;
}

#u18649
{
	position: absolute;
}

#u18651
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat center center;
}

#u18652
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat left center;
}

#u18650
{
	border-color: #000000;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18666-3
{
	border-color: #000000;
	background-color: #545454;
	background-color: rgba(0, 0, 0, 0.67);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.67);
}

#u18676
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u18676:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18678-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18676:hover #u18678-4 p
{
	font-weight: bold;
}

#u18705
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u18705:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18706-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18676.MuseMenuActive #u18678-4 p,#u18705:hover #u18706-4 p
{
	font-weight: bold;
}

#u18671
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u18671:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18673-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18705.MuseMenuActive #u18706-4 p,#u18671:hover #u18673-4 p
{
	font-weight: bold;
}

#u18698
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u18698:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18676.MuseMenuActive,#u18705.MuseMenuActive,#u18671.MuseMenuActive,#u18698.MuseMenuActive
{
	background-image: none;
}

#u18699-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18671.MuseMenuActive #u18673-4 p,#u18698:hover #u18699-4 p
{
	font-weight: bold;
}

#u18698.MuseMenuActive #u18699-4 p
{
	font-weight: bold;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u18643_clip
{
	overflow: hidden;
}

#u18606
{
	-pie-box-shadow: none;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
}

#u18609
{
	background-color: #464646;
	position: relative;
}

#u18612-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18609:hover #u18612-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18625
{
	background-color: #464646;
	position: relative;
}

#u18628-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18625:hover #u18628-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18639
{
	background-color: #464646;
	position: relative;
}

#u18642-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18639:hover #u18642-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18632
{
	background-color: #464646;
	position: relative;
}

#u18634-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18609.MuseMenuActive #u18612-4,#u18625.MuseMenuActive #u18628-4,#u18639.MuseMenuActive #u18642-4,#u18632.MuseMenuActive #u18634-4
{
	border-style: none;
	border-color: transparent;
}

#u18632:hover #u18634-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18609.MuseMenuActive #u18612-4 p,#u18625.MuseMenuActive #u18628-4 p,#u18639.MuseMenuActive #u18642-4 p,#u18632.MuseMenuActive #u18634-4 p
{
	color: #F7931E;
	visibility: inherit;
	text-decoration: underline;
}

#u18645
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -moz-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -ms-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00999999, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00999999', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u18603-4
{
	letter-spacing: 2px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18604-5
{
	color: #DE6530;
	letter-spacing: 2px;
	text-align: right;
	font-size: 13px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u18587
{
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	position: relative;
}

#u18602-4
{
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	position: relative;
}

#u18605-4
{
	color: #FFFFFF;
	position: relative;
}

#pamphletu18646,#u18662,#menuu18667,#u18675,#u18704,#u18668,#u18697,#u18643,#menuu18607,#u18608,#u18622,#u18636,#u18629,#u18594,#u18598,#u18600,#u18590,#u18592,#u18596,#u18588,#u18721-17,#u18722-18
{
	position: relative;
}

