#u18153
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18153:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18153:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18151
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18151:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18151:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18153.PamphletThumbSelected,#u18151.PamphletThumbSelected
{
	border-color: #464646;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../../images/a1-small-file.jpg") no-repeat left top;
}

#u18152
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18152:hover
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18152:active
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u18152.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../../images/a1-small-file.jpg") no-repeat left top;
}

#u18141
{
	position: absolute;
}

#u18142
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat center center;
}

#u18143
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat left center;
}

#u18144
{
	border-color: #000000;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat center center;
	background-size: cover !important;
}

#u18156-3
{
	border-color: #000000;
	background-color: #545454;
	background-color: rgba(0, 0, 0, 0.67);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.67);
}

#u18183
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u18183:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18185-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18183:hover #u18185-4 p
{
	font-weight: bold;
}

#u18159
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u18159:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18162-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18183.MuseMenuActive #u18185-4 p,#u18159:hover #u18162-4 p
{
	font-weight: bold;
}

#u18188
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u18188:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18191-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18159.MuseMenuActive #u18162-4 p,#u18188:hover #u18191-4 p
{
	font-weight: bold;
}

#u18195
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u18195:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u18183.MuseMenuActive,#u18159.MuseMenuActive,#u18188.MuseMenuActive,#u18195.MuseMenuActive
{
	background-image: none;
}

#u18197-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18188.MuseMenuActive #u18191-4 p,#u18195:hover #u18197-4 p
{
	font-weight: bold;
}

#u18195.MuseMenuActive #u18197-4 p
{
	font-weight: bold;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u18131_clip
{
	overflow: hidden;
}

#u18094
{
	-pie-box-shadow: none;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
}

#u18106
{
	background-color: #464646;
	position: relative;
}

#u18108-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18106:hover #u18108-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18097
{
	background-color: #464646;
	position: relative;
}

#u18100-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18097:hover #u18100-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18118
{
	background-color: #464646;
	position: relative;
}

#u18120-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18118:hover #u18120-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18127
{
	background-color: #464646;
	position: relative;
}

#u18128-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18106.MuseMenuActive #u18108-4,#u18097.MuseMenuActive #u18100-4,#u18118.MuseMenuActive #u18120-4,#u18127.MuseMenuActive #u18128-4
{
	border-style: none;
	border-color: transparent;
}

#u18127:hover #u18128-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u18106.MuseMenuActive #u18108-4 p,#u18097.MuseMenuActive #u18100-4 p,#u18118.MuseMenuActive #u18120-4 p,#u18127.MuseMenuActive #u18128-4 p
{
	color: #F7931E;
	visibility: inherit;
	text-decoration: underline;
}

#u18133
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -moz-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -ms-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00999999, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00999999', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u18091-4
{
	letter-spacing: 2px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18092-5
{
	color: #DE6530;
	letter-spacing: 2px;
	text-align: right;
	font-size: 13px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u18075
{
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	position: relative;
}

#u18090-4
{
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	position: relative;
}

#u18093-4
{
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#pamphletu18134,#u18150,#menuu18157,#u18180,#u18158,#u18187,#u18194,#u18131,#menuu18095,#u18103,#u18096,#u18117,#u18124,#u18082,#u18086,#u18088,#u18078,#u18080,#u18084,#u18076,#u18209-18,#u18210-17
{
	position: relative;
}

