#u17920
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17920:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17920:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17922
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17922:hover
{
	background-image: none;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17922:active
{
	background-image: none;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17920.PamphletThumbSelected,#u17922.PamphletThumbSelected
{
	border-color: #464646;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../../images/a1-small-file.jpg") no-repeat left top;
}

#u17921
{
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17921:hover
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17921:active
{
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #464646;
	background-color: #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

#u17921.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	background: #FFFFFF url("../../images/a1-small-file.jpg") no-repeat left top;
}

#u17823
{
	position: absolute;
}

#u17825
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat center center;
}

#u17824
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat left center;
}

#u17871
{
	border-color: #000000;
	position: relative;
	background: #6B6B6B url("../../images/a1-small-file.jpg") no-repeat center center;
	background-size: cover !important;
}

#u17935-3
{
	border-color: #000000;
	background-color: #545454;
	background-color: rgba(0, 0, 0, 0.67);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.67);
}

#u17945
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u17945:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u17947-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17945:hover #u17947-4 p
{
	font-weight: bold;
}

#u17976
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u17976:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u17978-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17945.MuseMenuActive #u17947-4 p,#u17976:hover #u17978-4 p
{
	font-weight: bold;
}

#u17940
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u17940:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u17943-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17976.MuseMenuActive #u17978-4 p,#u17940:hover #u17943-4 p
{
	font-weight: bold;
}

#u17952
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u17952:hover
{
	background: transparent url("../../images/nav_hover.png") no-repeat center center;
}

#u17945.MuseMenuActive,#u17976.MuseMenuActive,#u17940.MuseMenuActive,#u17952.MuseMenuActive
{
	background-image: none;
}

#u17955-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17940.MuseMenuActive #u17943-4 p,#u17952:hover #u17955-4 p
{
	font-weight: bold;
}

#u17952.MuseMenuActive #u17955-4 p
{
	font-weight: bold;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u17809_clip
{
	overflow: hidden;
}

#u17772
{
	-pie-box-shadow: none;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
}

#u17796
{
	background-color: #464646;
	position: relative;
}

#u17798-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u17796:hover #u17798-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u17775
{
	background-color: #464646;
	position: relative;
}

#u17776-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u17775:hover #u17776-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u17791
{
	background-color: #464646;
	position: relative;
}

#u17793-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u17791:hover #u17793-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u17803
{
	background-color: #464646;
	position: relative;
}

#u17805-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u17796.MuseMenuActive #u17798-4,#u17775.MuseMenuActive #u17776-4,#u17791.MuseMenuActive #u17793-4,#u17803.MuseMenuActive #u17805-4
{
	border-style: none;
	border-color: transparent;
}

#u17803:hover #u17805-4 p
{
	color: #F7931E;
	visibility: inherit;
}

#u17796.MuseMenuActive #u17798-4 p,#u17775.MuseMenuActive #u17776-4 p,#u17791.MuseMenuActive #u17793-4 p,#u17803.MuseMenuActive #u17805-4 p
{
	color: #F7931E;
	visibility: inherit;
	text-decoration: underline;
}

#u17811
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -moz-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -ms-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0) ,#000000 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00999999, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00999999', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u17769-4
{
	letter-spacing: 2px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17770-5
{
	color: #DE6530;
	letter-spacing: 2px;
	text-align: right;
	font-size: 13px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u17753
{
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	position: relative;
}

#u17768-4
{
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	position: relative;
}

#u17771-4
{
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#pamphletu17822,#u17919,#menuu17936,#u17944,#u17973,#u17937,#u17951,#u17809,#menuu17773,#u17795,#u17774,#u17788,#u17802,#u17760,#u17764,#u17766,#u17756,#u17758,#u17762,#u17754,#u17933-17,#u17934-18
{
	position: relative;
}

