.Caption
{
	font-family: medula-one-n4, serif;
}

.heading2
{
	font-family: montserrat-n4, sans-serif;
}

.h1
{
	font-family: raleway-n1, sans-serif;
}

.bodytext
{
	font-family: sorts-mill-goudy-n5, serif;
}

.Gallery-Caption
{
	font-family: sorts-mill-goudy-i5, serif;
}

.title-semibold
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1504-4,#u1570-4
{
	font-family: raleway-n1, sans-serif;
}

#u2362-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u2350-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u2343-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u2357-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u1557-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u1699-4,#u1700-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u1697-11,#u1698-11,#u1716-4
{
	font-family: raleway-n1, sans-serif;
}

#u1708-4
{
	font-family: raleway-n1, sans-serif;
}

#widgetu1702.frm-sub-st #u1718-4 p,#u1718-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu1702.frm-subm-err-st #u1704-4 p,#u1704-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu1702.frm-subm-ok-st #u1703-4 p,#u1703-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1711-4
{
	font-family: raleway-n1, sans-serif;
}

#widgetu1714_input,#widgetu1714_prompt,#widgetu1706_input,#widgetu1706_prompt,#widgetu1710_input,#widgetu1710_prompt
{
	font-family: raleway, sans-serif;
}

