#u1503
{
	border-color: #000000;
	background: #262626 url("../../images/pattern-overlay-u1503-fr.png") no-repeat left top;
	background-color: rgba(0,0,0,0.85);
	background-size: cover;
}

#u1504-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 76px;
	font-size: 63px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 100;
	position: relative;
}

#u1570-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 26px;
	font-size: 19px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 100;
	position: relative;
}

#u2324
{
	position: absolute;
	background-color: transparent;
}

#u2326,#menuu2338
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2361
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u2361:hover
{
	background-color: #FFFFFF;
}

#u2362-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2361:hover #u2362-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2347
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u2347:hover
{
	background-color: #FFFFFF;
}

#u2350-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2347:hover #u2350-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2340
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u2340:hover
{
	background-color: #FFFFFF;
}

#u2343-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2340:hover #u2343-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2360,#u2346,#u2339,#u2353
{
	background-color: transparent;
	position: relative;
}

#u2356
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u2356:hover
{
	background-color: #FFFFFF;
}

#u2357-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2356:hover #u2357-4 p
{
	color: #000000;
	visibility: inherit;
}

#pamphletu2323,#u2330
{
	position: relative;
}

#u2331
{
	position: absolute;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u1632
{
	border-color: #000000;
	background: #262626 url("../../images/pattern-overlay-u1503-fr.png") no-repeat left top;
	background-color: rgba(0,0,0,0.85);
	background-size: cover;
}

#u1728
{
	border-color: #000000;
	background-color: #CACACA;
	background-color: rgba(149,149,149,0.5);
	border-radius: 100px;
	position: relative;
	-pie-background: rgba(149,149,149,0.5);
}

#u1728:hover
{
	background-color: #959595;
	background-color: rgba(149,149,149,1);
	-pie-background: rgba(149,149,149,1);
}

#u1729
{
	border-color: #000000;
	background-color: #CACACA;
	background-color: rgba(149,149,149,0.5);
	border-radius: 100px;
	position: relative;
	-pie-background: rgba(149,149,149,0.5);
}

#u1729:hover
{
	background-color: #959595;
	background-color: rgba(149,149,149,1);
	-pie-background: rgba(149,149,149,1);
}

#u1730
{
	border-color: #000000;
	background-color: #CACACA;
	background-color: rgba(149,149,149,0.5);
	border-radius: 100px;
	position: relative;
	-pie-background: rgba(149,149,149,0.5);
}

#u1730:hover
{
	background-color: #959595;
	background-color: rgba(149,149,149,1);
	-pie-background: rgba(149,149,149,1);
}

#u1731
{
	border-color: #000000;
	background-color: #CACACA;
	background-color: rgba(149,149,149,0.5);
	border-radius: 100px;
	position: relative;
	-pie-background: rgba(149,149,149,0.5);
}

#u1731:hover
{
	background-color: #959595;
	background-color: rgba(149,149,149,1);
	-pie-background: rgba(149,149,149,1);
}

#u1732,#u1734,#u1736,#u1738
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1557-4
{
	background-color: transparent;
	font-size: 14px;
	letter-spacing: 1px;
	color: #959595;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u1557
{
	color: #FFFFFF;
}

