.version.video /* version checker */
{
	color: #000009;
	background-color: #06F555;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 547px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu1503
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1503
{
	z-index: 2;
	min-height: 114px;
	padding-bottom: 8px;
}

#u1504-4
{
	z-index: 4;
	width: 203px;
	min-height: 81px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#u1570-4
{
	z-index: 12;
	width: 97px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 245px;
}

#u1503-bw
{
	z-index: 2;
	min-height: 114px;
}

#pamphletu2323
{
	z-index: 28;
	width: 0.01px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 231px;
}

#u2324popup
{
	z-index: 29;
}

#u2324
{
	width: 380px;
	top: 70px;
	left: -231px;
}

#u2326
{
	z-index: 30;
	width: 380px;
	height: 207px;
	margin-right: -10000px;
}

#menuu2338
{
	z-index: 31;
	width: 345px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
}

#u2360
{
	width: 345px;
}

#u2361
{
	width: 345px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u2361:hover
{
	width: 345px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2362-4
{
	width: 319px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
	left: 26px;
}

#u2361:hover #u2362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 319px;
	margin: 0px -10000px 0px 0px;
}

#u2347
{
	width: 345px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u2361.MuseMenuActive,#u2347:hover
{
	width: 345px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2350-4
{
	width: 319px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
	left: 26px;
}

#u2361.MuseMenuActive #u2362-4,#u2347:hover #u2350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 319px;
	margin: 0px -10000px 0px 0px;
}

#u2340
{
	width: 345px;
	min-height: 22px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u2347.MuseMenuActive,#u2340:hover
{
	width: 345px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2343-4
{
	width: 319px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
	left: 26px;
}

#u2347.MuseMenuActive #u2350-4,#u2340:hover #u2343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 319px;
	margin: 0px -10000px 0px 0px;
}

#u2346,#u2339,#u2353
{
	width: 345px;
	margin-top: 2px;
}

#u2356
{
	width: 345px;
	min-height: 22px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u2340.MuseMenuActive,#u2356:hover
{
	width: 345px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2356.MuseMenuActive
{
	width: 345px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2357-4
{
	width: 319px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
	left: 26px;
}

#u2340.MuseMenuActive #u2343-4,#u2356:hover #u2357-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 319px;
	margin: 0px -10000px 0px 0px;
}

#u2356.MuseMenuActive #u2357-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 319px;
	margin: 0px -10000px 0px 0px;
}

#u2330
{
	z-index: 56;
	width: 129px;
	margin-right: -10000px;
}

#u2331
{
	width: 129px;
	height: 56px;
}

.ie #u2331
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1632
{
	z-index: 3;
	min-height: 68px;
	padding-bottom: 37px;
}

#u1728
{
	z-index: 16;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 35px;
}

#u1732
{
	z-index: 20;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1729
{
	z-index: 17;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 72px;
}

#u1734
{
	z-index: 22;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u1730
{
	z-index: 18;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 109px;
}

#u1728:hover,#u1729:hover,#u1730:hover
{
	width: 30px;
	min-height: 0px;
	margin: 38px -10000px 0px 0px;
}

#u1736
{
	z-index: 24;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u1731
{
	z-index: 19;
	width: 30px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 146px;
}

#u1731:hover
{
	width: 30px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#u1738
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u1557-4
{
	z-index: 8;
	width: 174px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 193px;
}

#u1632-bw
{
	z-index: 3;
	min-height: 68px;
	margin-top: 442px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -442px;
}

